@using MVC_8.Models.Home
@model ItemListViewModel

@{
    Layout = null;
    ItemListViewModel m = Model;
    string listHeader = $"{m.ItemRows.Count} / {m.TotalCount} {m.EntitiesName}";
}

<div class="table">
    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage)) {
        <div class="messageContainer">
            <div class="responseMessage failMessage" onclick="removeResponseMessage()">
                @Model.ErrorMessage
            </div>
        </div>
    }
    <div class="itemListHeader">
        <h4>@listHeader</h4>
        <input id="inputFilter" type="text" autocomplete="off" onkeydown="onEnterGetItems(event,'@m.EntityCode')" autofocus onFocus="this.select()" size="10" value="@m.Filter" />
        <button id="getItemsButton" type="button" class="btn btn-info" onclick="getItemsList('@m.EntityCode')">GO</button>
        <div class="sectionButtons peopleHeaderLast">
            <button class="btn btn-info" onclick="getItem('@m.EntityCode')">
              <span class="glyphicon glyphicon-plus"></span> Add @m.EntityName
            </button>
            @if(@m.CanCreateRandom) {
                <button class="btn btn-info" onclick="addRandomItem('@m.EntityCode')">
                  <span class="glyphicon glyphicon-plus"></span> Add Random @m.EntityName
                </button>
            }
        </div>
    </div>
    <hr />

    <div class="container">
        <div class="row header-row">
            @foreach (string header in m.Headers){
                <div class="col-sm header-cell">
                    @header
                </div>
            }
            <div class="col-sm header-cell"></div>
            <div class="col-sm header-cell"></div>
        </div>
        @foreach (ItemRowViewModel itemRow in m.ItemRows) {
            <partial name="PartialViewItemRow" model=@itemRow />
        }
    </div>
</div>